<div class="login-page">
    <div class="container login-page__container">
        <form class="login-page__form">
            <h1 class="h2 login-page__form-title">Login</h1>
            <div class="login-page__form-fields">
                {{> field label="Email" placeholder="Enter your email" className="login-page__form-field" name="email" }}
                {{> field label="Password" placeholder="Enter your password" className="login-page__form-field" name="password" }}
            </div>
            {{> button text="sign in" className="login-page__form-button" }}
        </form>
    </div>
</div>