.button {
  display: block;
  padding: 1rem 3.2rem;
  background-color: $button-background-color;
  color: $button-text-color;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: calc(20 / 13);
  text-transform: uppercase;
  border-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: rgba($button-background-color, 0.7);
  }

  &:active {
    background-color: rgba($button-background-color, 0.4);
  }
}
