<div class="page-placeholder {{ className }}">
  <div class="container page-placeholder__container">
    <div class="page-placeholder__caption">{{ codeStatus }}</div>
    <h1 class="h1 page-placeholder__title">{{ title }}</h1>
    <div class="page-placeholder__text">{{ text }}</div>
    {{> button text=buttonText className="page-placeholder__button" }}
  </div>
</div>