<div class="page-placeholder">
  <div class="container page-placeholder__container">
    <div class="page-placeholder__caption">{{ code_status }}</div>
    <h1 class="h1 page-placeholder__title">{{ title }}</h1>
    <div class="page-placeholder__text">{{ text }}</div>
    {{> button text=button_text class="page-placeholder__button" }}
  </div>
</div>