.chat-page {
  display: flex;
  height: 100vh;

  &__panel {
    width: 30rem;

    border: 1px solid $border-color;
  }

  &__chat {
    display: flex;
    flex-flow: column;
    flex: 1;

    &-header {
      height: 4rem;
    }

    &-messages {
      flex: 1;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }

    &-footer {
    }

    &-form {
      &-input {
        padding: 2.4rem;
        height: 30rem;
        width: 100%;
        border: none;
      }
    }
  }
}
