<div class="chat-page">
    <div class="chat-page__panel">
        <div class="chat-page__search"></div>
        <div class="chat-page__users"></div>
    </div>
    <div class="chat-page__chat">
        <div class="chat-page__chat-header">
            {{{ accountButton }}}
        </div>
        <div class="chat-page__chat-messages"></div>
        <div class="chat-page__chat-footer">
            {{{ messageForm }}}
        </div>
    </div>
</div>