<div class="registration-page">
    <div class="container registration-page__container">
        <h1 class="h2 registration-page__form-title">Registration</h1>
        {{{ registrationFormPage }}}
    </div>
</div>