.field {
  width: 100%;

  &__label {
    @include small-text;

    display: block;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }

  &__input {
    padding: 1.6rem 2rem;
    border: 1px solid $border-color;
    background-color: $input-background-color;
    color: $input-text-color;
    width: 100%;

    &,
    &::placeholder {
      font-size: $input-font-size;
      font-weight: $input-font-weight;
      line-height: $input-font-line-height;
    }

    &::placeholder {
      color: rgba($primary-color, 0.7);
    }

    &:focus-visible {
      border-color: $primary-color;
      outline: none;
    }
  }
}
