<div class="account-page">
  <div class="account-page__back-to-chat">
    <svg
      class="account-page__back-to-chat-arrow"
      viewBox="0 0 48 48"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M29 34L19 24L29 14"
        stroke="currentColor"
        stroke-width="2"
      ></path>
    </svg>
  </div>
  <div class="account-page__main">
    <div class="container account-page__container">
      <div class="account-page__avatar">
        <svg
          class="account-page__avatar-placeholder-image"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M36 2H4C2.89543 2 2 2.89543 2 4V25.2667L14.6547 22.3139C15.5486 22.1053 16.4635 22 17.3814 22H22.6186C23.5365 22 24.4514 22.1053 25.3453 22.3139L38 25.2667V4C38 2.89543 37.1046 2 36 2ZM4 0C1.79086 0 0 1.79086 0 4V36C0 38.2091 1.79086 40 4 40H36C38.2091 40 40 38.2091 40 36V4C40 1.79086 38.2091 0 36 0H4ZM10.9091 14.5455C12.9174 14.5455 14.5455 12.9174 14.5455 10.9091C14.5455 8.90079 12.9174 7.27273 10.9091 7.27273C8.90082 7.27273 7.27276 8.90079 7.27276 10.9091C7.27276 12.9174 8.90082 14.5455 10.9091 14.5455Z"
            fill="white"
          ></path>
        </svg>
        <label class="account-page__avatar-file">
            <input type="file" name="avatar" className="account-page__avatar-file-input" />
            Change avatar
        </label>
      </div>
      
      <div class="account-page__info">
        <ul class="account-page__info-list">
          {{#each user}}
            <li class="account-page__info-list-item">
              <span class="account-page__info-list-item-name">{{ field }}</span>
              <span
                class="account-page__info-list-item-value"
              >{{ value }}</span>
            </li>
          {{/each}}
        </ul>
        <div class="account-page__info-buttons">
          {{> button text="Edit info" className="button account-page__info-button" }}
          {{> button text="Change password" className="button account-page__info-button" }}
        </div>
        <a class="account-page__logout" href="/login">
          Log out
        </a>
      </div>

      <form class="account-page__user-form hidden">
        <div class="account-page__user-form-fields">
          {{> field className="account-page__user-form-field" label="First name" placeholder="Enter your firstname" name="first_name" }}
          {{> field className="account-page__user-form-field" label="Second name" placeholder="Enter your second name" name="second_name" }}
          {{> field className="account-page__user-form-field" label="Login" placeholder="Enter your login" name="login" }}
          {{> field className="account-page__user-form-field" label="Email" placeholder="Enter your email" name="email" }}
          {{> field className="account-page__user-form-field" label="Phone" placeholder="Enter your phone" name="phone" }}
          {{> field className="account-page__user-form-field" label="Password" placeholder="Enter your password" name="password" }}
        </div>
        {{> button type="submit" text="save" className="account-page__user-form-button" }}
      </form>

      <form class="account-page__password-form hidden">
        <div class="account-page__password-form-fields">
          {{> field className="account-page__password-form-field" label="Old password" placeholder="Enter your old password" name="oldPassword" }}
          {{> field className="account-page__password-form-field" label="New password" placeholder="Enter your new password" name="newPassword" }}
          {{> field className="account-page__password-form-field" label="Repeat new password" placeholder="Repeat your new password" }}
        </div>
        {{> button type="submit" text="save" className="account-page__password-form-button" }}
      </form>
    </div>
  </div>
</div>