*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Montserrat";
}

main {
  flex: 1;
}

form {
  margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 800;
  margin: 0;
}

.h1 {
  font-size: 3.6rem;
  line-height: calc(46 / 36);

  @media screen and (min-width: 992px) {
    font-size: 4.6rem;
    line-height: calc(56 / 46);
  }
}

.h2 {
  font-size: 3.2rem;
  line-height: calc(38 / 32);

  @media screen and (min-width: 992px) {
    font-size: 4rem;
    line-height: calc(52 / 40);
  }
}

.h3 {
  font-size: 2.8rem;
  line-height: calc(36 / 28);

  @media screen and (min-width: 992px) {
    font-size: 3.6rem;
    line-height: calc(36 / 46);
  }
}

.h4 {
  font-size: 2.6rem;
  line-height: calc(34 / 26);

  @media screen and (min-width: 992px) {
    font-size: 3.2rem;
    line-height: calc(38 / 32);
  }
}

.h5 {
  font-size: 2.4rem;
  line-height: calc(32 / 24);

  @media screen and (min-width: 992px) {
    font-size: 2.8rem;
    line-height: calc(36 / 28);
  }
}

.h6 {
  font-size: 1.8rem;
  line-height: calc(26 / 18);

  @media screen and (min-width: 992px) {
    font-size: 2.2rem;
    line-height: calc(30 / 22);
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  @media screen and (min-width: 990px) {
    padding: 0 4.8rem;
    max-width: 132rem;
  }
}

.hidden {
  display: none !important;
}