@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url("static/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url("static/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url("static/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  src: url("static/fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  src: url("static/fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  src: url("static/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 600;
  src: url("static/fonts/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 700;
  src: url("static/fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  src: url("static/fonts/Montserrat-ExtraBoldItalic.ttf");
}
