$primary-color: #000000;
$secondary-color: #F5F5F5;
$border-color: #EAEAEA;
$red-color: #FF0000;

// input
$input-font-weight: 500;
$input-font-size: 1.4rem;
$input-font-line-height: calc(22 / 14);
$input-background-color: $secondary-color;
$input-text-color: $primary-color;

// button
$button-background-color: #000000;
$button-text-color: #ffffff;